* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(255, 68, 0), transparent);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #111;

    background-color: rgb(255, 255, 255);

}

header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

header .logo {
    position: relative;
    top: 50%;
    left: 200px;
    transform: translate(-100%, -50%);
    font-weight: 600;
    float: left;
    font-size: 2em;
    line-height: 100px;
    color: rgb(46, 145, 226);
    padding: 06px 16px 16px;

}

header .bar {
    position: relative;
    align-items: center;
    float: right;
    padding: 16px 16px 16px;

}
header .open {
display: none;

}

header .bar ul {

    display: flex;
    flex-direction: row;
}

header .bar ul li {
    padding: 16px 16px 16px;
    list-style: none;
    border-radius: 10px;

}

header .bar ul li:nth-child(1) {
    border-bottom: 5px solid coral;
    border-radius: 10px;
    transition: 0.5s;
}

header .bar ul li:hover {
    border-bottom: 5px solid coral;
    background-color: rgb(107, 106, 106);

    height: 50%;

}

header .bar ul li a {
    color: rgb(14, 159, 255);
    font-size: 25px;
    text-decoration: none;
}

header .bar ul li a:hover {
    color: rgb(255, 255, 255);

}

.top_line {
    position: relative;
    width: 100%;
    height: 5px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, transparent, rgb(51, 49, 49), rgb(218, 218, 218));

}

.left_bar {
    margin-top: 50px;
    position: absolute;
    width: 200px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left_bar .cate {
    position: relative;
    width: 120px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    background: rgba(49, 51, 51, 0.4);
    text-align: center;
    line-height: 50px;
    color: rgb(15, 15, 15);
    font-size: 20px;
    border-top: 1px solid rgb(255, 255, 255);
} 
.left_bar .close {
    display: none;
}

a {
    color: rgb(14, 159, 255);

    text-decoration: none;
}

.blog_posts {
    position: relative;
    padding: 16px 16px 16px;
    width: 60%;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    color: rgb(26, 26, 26);
    border: 5px solid rgb(192, 109, 248);
    border-radius: 20px;
    box-shadow: 1px 2px 10px #000;
}

.blog_posts .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.blog_posts .content img {
    margin-right: 20px;
    width: 40%;
}

.blog_posts .content .txt {
    margin-bottom: auto;
    float: right;
}

.blog_posts .content .button {
    position: relative;
    width: 150px;
    padding: 10px 10px 10px;
    border: 5px solid rgb(192, 109, 248);
    color: white;
    border-radius: 10px;
    background: rgb(93, 10, 141);
    margin-top: auto;
}

.social {
    width: 60%;
    margin: auto;
    display: flex;
}

.social .yt {
    position: relative;
    float: right;
    width: 150px;
    background: red;
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: 5px solid rgb(255, 91, 91);
    font-size: 2em;
}

.social .fs {
    position: relative;
    float: right;
    width: 150px;
    background: rgb(14, 52, 133);
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: 5px solid rgb(42, 75, 148);
    font-size: 2em;
}

.social .tw {
    position: relative;
    float: right;
    width: 150px;
    background: rgb(12, 137, 240);
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: 5px solid rgb(91, 168, 255);
    font-size: 2em;
}

.social .ds {
    position: relative;
    float: right;
    width: 150px;
    background: rgb(93, 10, 141);
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: 5px solid rgb(192, 109, 248);
    font-size: 2em;
}

/* make the website responsive*/

@media only screen and (max-width: 650px) {
    body {
        width: 100vw;
        box-sizing: border-box;
        background-color: lightblue;
        padding: 0;
        overflow-x: hidden;
    }
    header .open {

        width: 70px;
        height: 40px;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        

        cursor: pointer;
        align-items: center;
        float: right;
        background-color: rgb(32, 148, 243);
        padding: 16px 16px 16px;
        color: rgb(255, 255, 255);
        font-size: 25px;

    }
    header .bar {
        width: 100%;
        display: none;
    }

    .social {
        width: 100%;
        flex-direction: column;

    }

    .social .share {
        width: 100%;
        margin: 5px;


    }

    .top_line {
        margin-bottom: 20px;
    }

    .blog_posts {
        width: 99%;
    }

    .blog_posts .content {
        flex-direction: column;
        height: 100%;


    }

    .blog_posts .content img {
        width: 100%;
        margin-right: auto;
        margin-bottom: 20px;

    }

    .blog_posts .content .button {

        margin-left: auto;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .blog_posts .content .txt {
        width: 100%;
        margin-left: 20px;

    }
    .left_bar {
        display: none;
        position: fixed;
        margin-top:0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(178, 188, 231);
    }
      .left_bar .cate{
          width: 200px;
        background-color: rgb(125, 170, 230);
        color: rgb(16, 0, 53);
        border-bottom: 1px solid black;
        border-radius: 10px;
       
      }
           .left_bar .close {
             top: 0;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 40px;
            color: white;
            font-size: 23px;
            background-color: rgb(214, 31, 31);
            border: 5px solid rgb(241, 118, 118);
            margin-top: auto;

           }





}